.logo {
    font-family: Raleway; sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.collog  {
    color: #2e2f42;
}